body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.no-padding {
    padding: 0px !important;
}

.bulogo {
    height: 75px;
}

.mh-pt5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.no-radius {
    border-radius: 0px !important;
}

.login-title {
    display: block;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
}

#carouselExampleSlidesOnly {
    position: fixed;
    z-index: -99;
    height: 100vh;
    width: 100%;
}

.top-layer-content {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: 100%;
}


/* colors */
.w-bg-rgba {
    background-color: rgb(255, 255, 255, 0.9);
}

/* customs */
.cl-al {
    display: flex;
    justify-content: center;
}

.flh100 {
    height: 100px;
    line-height: 70px;
}

.fade {
    opacity: 1;
    -webkit-transition: opacity .150s ease;
    transition: opacity .150s ease;
}

.p-center {
    text-align: center;
}