<div class="form-group">
    <label class="form-check-label" for="osaremarks">
        III. Office of the Students Affairs (OSA)
    </label>
    <div class="form-row p-l-30">
        <div class="form-group col-md-6">
            <label>
                A. Quality Service Provided
            </label>
            <label>
                B. Personal Attitude
            </label>
        </div>
        <div class="form-group col-md-6">
            <form action="#" id="osaqsp">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osaqsp1" value="option1">
                    <label class="form-check-label" for="osaqsp1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osaqsp2" value="option2">
                    <label class="form-check-label" for="osaqsp2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osaqsp3" value="option3">
                    <label class="form-check-label" for="osaqsp3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osaqsp4" value="option3">
                    <label class="form-check-label" for="osaqsp4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osaqsp5" value="option3">
                    <label class="form-check-label" for="osaqsp5">5</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osaqsp6" value="option3">
                    <label class="form-check-label" for="osaqsp6">NC</label>
                </div>
            </form>
            <form action="#" id="osapa">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osapa1" value="option1">
                    <label class="form-check-label" for="osapa1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osapa2" value="option2">
                    <label class="form-check-label" for="osapa2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osapa3" value="option3">
                    <label class="form-check-label" for="osapa3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osapa4" value="option3">
                    <label class="form-check-label" for="osapa4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osapa5" value="option3">
                    <label class="form-check-label" for="osapa5">5</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="osapa6" value="option3">
                    <label class="form-check-label" for="osapa6">NC</label>
                </div>
            </form>
        </div>
    </div>
    <input type="text" class="form-control m-l-30" name="osaremarks" id="osaremarks" placeholder="Your remarks here...">
</div>